<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>Work</h1>
    <p>Having retired from the glorious art of pillaging, I now proudly serve as a "motivational speaker" for goblin-run start-ups, mostly by grunting encouragement and occasional threats.</p>
    <img src="static/images/work.png" alt="Orc Napping">
</body>
</html>

