{% from "macros/icons.jinja" import dark_mode, light_mode %}

{% macro header(current_user) %}
<header class="nav-header">
    <div class="nav-container">
        <a class="nav-link" href="{{ url_for('pages.tasks') }}">TODO</a>
        <a class="nav-link" href="{{ url_for('pages.tasks_deleted') }}">DELETED</a>
        {% if current_user != none %}
            <a class="nav-link" href="{{ url_for('pages.logout') }}">LOGOUT</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('pages.login') }}">LOGIN</a>
        {% endif %}
    </div>
    <div class="nav-title">
        {% if current_user != none %}
            User: {{ current_user.username }}                
            <a id="theme-toggle" class="theme-toggle" href="{{ url_for('pages.toggle_theme') }}">
                {% if current_user.theme == 'dark' %}
                    <div class="icon">{{ dark_mode() }}</div>
                {% else %}
                    <div class="icon">{{ light_mode() }}</div>
                {% endif %}
            </a>
        {% else %}
                User: Not logged in
        {% endif %}
    </div>
</header>
{% endmacro %}