{% macro header(email) %}
<header class="nav-header">
    <div class="nav-container">
        <a class="nav-link" href="{{ url_for('pages.tasks') }}">TODO</a>
        <a class="nav-link" href="{{ url_for('pages.done') }}">DONE</a>
        {% if email != none %}
            <a class="nav-link" href="{{ url_for('pages.logout') }}">LOGOUT</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('pages.login') }}">LOGIN</a>
        {% endif %}
    </div>
    <div class="nav-title">
        {% if email != none %}
                User: {{ email }}
        {% else %}
                User: Not logged in
        {% endif %}
    </div>
</header>
{% endmacro %}