{% macro header() %}
<header class="header">
    <div class="nav-container">
        <a class="nav-link" href="{{ url_for('pages.index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('pages.countdown') }}">Countdown</a>
        <a class="nav-link" href="{{ url_for('pages.scrambler') }}">Scrambler</a>
    </div>
</header>
{% endmacro %}