{% extends "layout.jinja" %}
{% from "macros/messages.jinja" import messages %}

{% block content %}
    <div class="title">{{ heading }}</div>
    <div class="content">{{ content }}</div>
{% endblock %}