{% extends "layout.jinja" %}

{% block content %}
<h1>Completed Tasks</h1>
<div class="task-container">
    <div class="task-list">
        {% for task in tasks %}
            <div class="task-list-item">
                <h2>{{ task.title }}</h2>
                <p>{{ task.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}