{% macro header(email) %}
<header class="nav-header">
    <div class="nav-container">
        <a class="nav-link" href="{{ url_for('pages.index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('pages.visitors') }}">Visitors</a>
        {% if email != none %}
            <a class="nav-link" href="{{ url_for('pages.logout') }}">Logout</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('pages.login') }}">Login</a>
        {% endif %}
    </div>
</header>
{% endmacro %}