<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <h1>Welcome, Mortals, to My Humble Website!</h1>
    <p>Greetings, puny creatures, and welcome to the digital dwelling of Grog the Mighty! Tread lightly, for within these pages lie the chronicles of my magnificent existence. Feel free to click around, but try not to track too much mud onto my finely polished pixels.</p>
    <img src="static/images/welcome.png" alt="Oric">
</body>
</html>

