{% extends "layout.jinja" %}

{% block content %}
<div class="container">
    <div class="title">Register</div>
</div>
<form name="register" method="post" class="form">
    <div class="form-group">
        {{ form.hidden_tag() }}

        {{ form.email.label(class_="form-label") }}
        {{ form.email(class_="form-field") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-field") }}
    </div>
    <div class="form-group-button">
        {{ form.submit(class_="form-button") }}
    </div>
</form>
{% endblock %}

